/** tailwind config*/
@import "tailwindcss";

/** -------------- FONTS ----------------- */
@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** safe area insets for mobile devices */
.safe-area {
  background-color: #002345; /* Match nav bar color */
  padding-bottom: env(
    safe-area-inset-bottom
  ); /* Push content above nav bar if needed */
}
